$border-color: rgba(60, 64, 67, 0.18);
$box-shadow-color: rgba(60, 64, 67, 0.09);
$font-color: rgba(60, 64, 67, 1);
$light-font-color: rgba(60, 64, 67, 0.15);
$primary-color: rgba(0, 122, 255, 1);
$header-height: 70px;
$page-padding-left-right: 48px;


