@import "~src/app/company/company";

.dashboard-container {
  padding: 24px 48px;
  //width: 100%;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.tabs-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid $border-color;
}

.tab {
  margin: 0 12px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
  }
}

.tab-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 8px;
  padding: 0 6px;
  opacity: 0.48;
  transition: all 200ms ease-in-out;
  &.selected {
    opacity: 1;
  }
  &:hover {
    opacity: 1;
  }
}

.tab-underline {
  height: 4px;
  width: 100%;
  background: $primary-color;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  opacity: 0;
  transition: all 200ms ease-in-out;
  &.selected {
    opacity: 1;
  }
}

.filters-container {
  height: 30px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-start;
  border-bottom: 1px solid $border-color;
}

.filter-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin: 0 12px;

  &:hover {
    cursor: pointer;
    color: $primary-color;
  }

  .filter-dropdown-title {
    margin-right: 12px;
  }

  .material-icons {
    font-size: 1.5rem;
    opacity: 0.36;
  }
}

.export-dropdown {
  margin-left: 24px;
  height: 36px;
  padding: 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background: rgba(0, 122, 255, 0.1);

  &:hover {
    cursor: pointer;
  }

  .dropdown-title {
    color: $primary-color;
    margin-right: 12px
  }

  .material-icons {
    font-size: 1.5rem;
    color: $primary-color;
  }
}

.receipt-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 4px;
  color: $font-color;
}

.table-column-header {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;

  &.select-column-header {
    text-align: right;
    padding: 0 12px;
  }
}

.table-checkbox {
  background-color: white;
  height: 20px;
  width: 20px;
  border: 1px solid rgba(142, 142, 147, 1)
}

thead {
  tr {
    th {
      padding: 8px;
    }
  }
}

tbody {
  border-radius: 14px;
  border: 2px solid $border-color;

  tr {
    height: 50px;
    transition: all 200ms;
    border-bottom: 1px solid $border-color;
    &:hover {
      background: rgba(0, 122, 255, 0.05);
    }

    &.expanded-row-section {

      transition: 200ms ease-in-out;
      transform-origin: top;

      &:hover {
        background: none;
      }

      td {
        text-align: center;
      }
    }
  }
}

.detail-column {
  padding: 2rem;
  position: relative;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    &:hover {
      color: $primary-color;
    }
  }

  h2 {
    margin-bottom: 1rem;
  }
}

.column-with-right-border {
  &:after {
    background-color: $border-color;
    right: 0;
    content: '';
    display: block;
    width: 1px;
    bottom: 50%;
    position: absolute;
    transform: translateY(50%);
    height: calc(100% - 2rem);
  }
}

.action-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .action-anchor {
    width: 100%;
    padding: 12px 0;
    transition: all 200ms;
    &:hover {
      border: 1px solid $primary-color;
    }

  }
}

.receipt-table-data-column {
  font-size: 1rem;
  font-weight: 500;
  padding: 8px;

  //&.data-column-with-border {
  //  border-left: 1px solid $border-color;
  //}
}

.with-left-border {
  border-left: 1px solid $border-color;
}

.selection-data-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 12px;

  .material-icons {
    font-size: 2rem;
    font-weight: 700;
    color: $primary-color;
    transition: all 200ms;

    &:hover {
      cursor: pointer;
    }

    &.expanded {
      transform: rotate(90deg);
    }
  }
}

.receipt-number-data-column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project-number-data-column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  .project-receipts {
    opacity: 0.4;
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
  }
}

.address-data-column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  .place {
    opacity: 0.4;
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
  }
}

.name-data-column {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .material-icons {
    color: rgba(252, 175, 46, 1);
    font-size: 1rem;
    padding: 3px;
    margin-right: 12px;
    border-radius: 1px;
    background: rgba(252, 175, 46, 0.1);
  }

  .name-data-column-phone {
    opacity: 0.4;
    margin: 0;
    font-size: 0.8rem;
  }
}

.status-data-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;

  .material-icons {
    color: $light-font-color;
    transition: all 200ms;
    &:hover {
      cursor: pointer;
      color: $font-color;
    }
  }
}

.badge {
  padding: 6px 12px;
  border-radius: 25px;
}
